## Tipo de datos y asignacion de valores

### Type Integer

In [1]:
entero_1 = 3

print(entero_1)

3

In [5]:
a = 4

print(a)

4

In [3]:
a=3
b=4

print(a,b)

3 4

### Type  float  (with decimal)

In [4]:
x=2.5
y=3.6

print(x+y)

6.1

In [6]:
x = 1.4142
b = 5

print(b + x)

6.4142

### Exercises

In [5]:
# Exercise 1
# Define data of a people

In [ ]:
nombre = 'Hegel'   #cadena
edad = 53         #numerico entero
sexo = 'M'        #caracter
talla = 1.63      #numerico decimal

In [6]:
# Exercise 2
#Definir datos e imprimir tipo de datos

In [1]:
entero = 10
decimal = 2.5
caracter = 'c'
cadena1 = 'Maria'
cadena2 = "Carlos"

print(entero)
print(type(entero))
print("\n")

print(decimal)
print(type(decimal))
print("\n")

print(caracter)
print(type(caracter))
print("\n")

print(cadena1)
print(type(cadena1))
print("\n")

print(cadena2)
print(type(cadena2))
print("\n")

10
<class 'int'>


2.5
<class 'float'>


c
<class 'str'>


Maria
<class 'str'>


Carlos
<class 'str'>

In [1]:
# Exercise 3

#Dentro de una cadena mostrar una cadena entre comillas

cadena = "A juan de niño le decian 'bad boy' por travieso"
print(cadena)

A juan de niño le decian 'bad boy' por travieso